.container {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
   grid-template-columns: 27rem 1fr;
   grid-template-rows: auto 1fr;
   grid-template-areas: 
   'sidebar header'
   'sidebar main'
   'sidebar footer';
}

.header {
    grid-area: header;
    background-color: #FFFFFF;
}

.sidebar {
    height: 100vh;
    grid-area: sidebar;
    background-color: #FFFFFF;
}

.mainContent {
    grid-area: main;
    margin-inline: 2rem;
}

.footer {
    grid-area: footer;
    margin-inline: 2rem;
}